API_PORT=
DEBUG=
DATABASE_MIGRATIONS_PATH=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_MAX_OPEN_CONNS=
DATABASE_MAX_IDLE_CONNS=
DATABASE_MAX_LIFETIME= # in minutes
DATABASE_TIMEOUT= # in seconds
AUTH_ITERATIONS=
AUTH_MEMORY=
AUTH_PARALLELISM=
AUTH_KEY_LEN=
AUTH_SALT_LEN=
AUTH_SECRET_KEY=
AUTH_ACCESS_TOKEN_DURATION= # in seconds
AUTH_REFRESH_TOKEN_DURATION= # in seconds
AUTH_OIDC_ENABLED=
AUTH_OIDC_AUDIENCE=
LIMITS_MAX_REQUEST_COUNT_GLOBAL=
LIMITS_MAX_REQUEST_COUNT_USER=